main p {
  font-family: "Porsche";
  font-display: swap;
  src: local(Porsche), url(../font/Porsche\ Regular_0.ttf),
    url(../font/Porsche-Regular_0.woff);
}

* {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #fff;
  font-style: normal;
}

body {
  background-color: #202120;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* MAIN */
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

main {
  position: relative;
  background-color: #202120;
  width: 100%;
  height: 0;
  padding-top: 25%;
  padding-bottom: 2%;
  /* top: -50px; */
  bottom: 0;
  margin: 0;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
}

main img {
  width: 100%;
  object-fit: contain;
}

.text {
  position: absolute;
  width: 50%;
  height: 93%;
  left: 4.5%;
  top: 0;
  padding-top: 21%;
  z-index: 10;
}

.text p {
  color: #fff;
  font-weight: 400;
  font-size: clamp(14px, 4vw, 72px);
  line-height: 1.2;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* INFO SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.info {
  position: relative;
  width: 93.33%;
  margin: 20px 0;
  margin-left: 3.33%;
}

.info-column:first-child {
  position: absolute;
  text-align: left;
  /* width: 100px; */
}

.info-column:nth-child(2) {
  position: absolute;
  left: 130px;
  text-align: left;
}

.info-column:last-child {
  text-align: right;
}

.info-column h4 {
  margin: 0;
  font-size: clamp(4px, 1vw, 12px);
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}

.info-column p {
  margin: 5px 0 0;
  font-family: "Porsche", sans-serif;
  font-size: clamp(6px, 1.2vw, 14px);
  color: rgba(255, 255, 255, 1);
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* SECOND SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.second {
  position: relative;
  background-color: #202120;
  width: 100%;
  height: 252.1px;
  padding: 0;
  /* padding-top: 16.25%; */
}

.second .text {
  position: absolute;
  padding: 0;
  left: 3.33%;
  top: 23.8%;
  right: 3.33%;
  /* bottom: 19.2%; */
  height: 76.2%;
  width: 93.33%;
}

.second .text .left {
  position: absolute;
  left: 0px;
  top: 0;
  width: 26.5%;
  height: 100%;
}

.second .text .right {
  position: absolute;
  right: 0px;
  top: 0;
  width: 50%;
  height: 80%;
}

.second .text .right p {
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: clamp(7px, 1.2vw, 15px);
  line-height: 1.2;
}

.second .text .left {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: clamp(11px, 1.5vw, 34px);
  line-height: 1.2;
}

.second .text .right .up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 43.75%; */
  height: auto;
}

.second .text .right .down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 43.75%; */
  height: auto;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* BORDER */
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 74.08px;
  margin-top: 5%;
}

.horizontal {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}

.part1 {
  position: absolute;
  top: 37.4px;
  width: 104.77px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  transform: rotate(45deg);
}

.part2 {
  position: absolute;
  top: 37.4px;
  width: 104.77px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
  transform: rotate(-45deg);
}

.border .dot {
  position: absolute;
  width: 7px;
  height: 6px;
  background-color: #202120;
  border-radius: 50%;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* publications */
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.photo-gallery {
  display: flex;
  overflow-x: scroll;
  background-color: #202120;
  gap: 40px;
  padding: 60px;
  padding-top: 0;
  height: auto;
  -webkit-overflow-scrolling: touch; /* Для плавного прокручивания на мобильных устройствах */
  scroll-snap-type: x mandatory;
}

.photo-gallery::-webkit-scrollbar {
  display: none;
}

/* Элементы изображения */
.photo-item {
  position: relative;
  width: 40%;
  height: auto;
  overflow: hidden;
  background-color: #202120;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.photo-item .text {
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-size: clamp(12px, 1.5vw, 16px);
  font-weight: 400;
  color: #fff;
}

.photo-item .title {
  font-size: clamp(12px, 2vw, 60px);
  font-weight: 500;
  line-height: 1.2;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  margin-top: 5px;
}

/* Изображения */
.photo {
  width: 100%;
  height: 17vw;
  background-color: #202120;
  object-fit: contain;
}

/* Иконка для открытия фото */
.author,
.date {
  width: 100%;
  font-size: clamp(6px, 1.5vw, 50px);
  font-weight: 400;
  color: #fff;
}

.author {
  text-align: left;
}

.date {
  text-align: right;
}

@media (max-width: 768px) {
  .photo-gallery {
    padding: 20px;
    gap: 20px;
  }

  .photo-item {
    width: 60%;
  }

  .author,
  .date {
    font-size: clamp(6px, 2.3vw, 50px);
  }

  .photo-item .title {
    font-size: clamp(12px, 3vw, 60px);
  }

.publications h1 {
  position: absolute;
  left: 3.3%;
  top: 3%;
  font-size: clamp(20px, 4vw, 120px);
}

.publications {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 0px;
  gap: 5%;
  padding-top: 13%;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* ADAPTATION SECTION */
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

@media (max-width: 1440px) {
  .info-column:nth-child(2) {
    left: 100px;
  }

  .play-button {
    width: 118px;
    height: 118px;
  }

  .play-button::before {
    margin-left: -10px;
  }
}

@media (max-width: 800px) {
  .second {
    height: 160px;
  }

  .info-column:nth-child(2) {
    left: 70px;
  }

  .part1 {
    width: 70px;
  }

  .part2 {
    width: 70px;
  }
}

@media (max-width: 400px) {
  .second {
    height: 100px;
  }

  .second .text .right {
    width: 100%;
  }

  .describe_section .text {
    width: 98%;
  }

  .describe_section_2 .text {
    width: 98%;
  }

  .photo-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .half-width-photo,
  .full-width-photo,
  .full-width-video {
    width: 100%;
    object-fit: cover; /* Обрезает до заполнения */
    aspect-ratio: 1 / 1; /* Делаем квадратным */
  }

  .project_switch {
    flex-direction: column; /* Меняем направление на колонку */
  }

  .project_switch .switch_side {
    width: 100%; /* Каждая кнопка занимает всю ширину */
    height: 0;
    padding-bottom: 100%; /* Высота равна ширине (квадратные изображения) */
  }
}
