main p,
.sixth p {
  font-family: "Porsche";
  font-display: swap;
  src: local(Porsche), url(../font/Porsche\ Regular_0.ttf),
    url(../font/Porsche-Regular_0.woff);
}

* {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #fff;
  font-style: normal;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* PHOTO SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.mobile {
  display: none;
}

main {
  position: relative;
  background-color: #202120;
  width: 100%;
  height: 0;
  padding-top: 23%;
  padding-bottom: 17%;
  top: 0px;
  bottom: 0;
  margin: 0;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  /* bottom: 0; */
  padding-bottom: 10%;
  left: 0;
  /* right: 0;
    left: 0;
    margin: 0;
    bottom: 0; */
}

main img {
  position: absolute;
  width: 100%;
  margin-left: 3.5%;
  right: 0;
  left: 0;
  bottom: 0;
  filter: blur(6px);
}

.text {
  position: absolute;
  width: 100%;
  height: 93%;
  left: 4.5%;
  top: 0;
  padding-top: 29%;

  /* color: #fff;
  font-weight: 400;
  font-size: 72px;
  line-height: 59.3px; */
  width: 96%;
  z-index: 10;
}

.text p {
  color: #fff;
  font-weight: 400;
  font-size: clamp(14px, 4vw, 72px);
  line-height: 0.9;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* FIRST SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.first {
  position: relative;
  background-color: #202120;
  color: #ffffff;
  width: 100%;
  height: 9.5%;
  padding-top: 10%;
}

.first .vertical {
  position: absolute;
  width: 13.5%;
  height: 0px;
  top: 50%;
  left: 4%;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  transform: rotate(135deg);
}

.first .horizontal {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.first .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(10.75% - 5px);
  top: calc(50% - 5px);

  background: #202120;
  border-radius: 50%;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* SECOND SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.second {
  position: relative;
  background-color: #202120;
  width: 100%;
  height: 252.1px;
  padding: 0;
  /* padding-top: 16.25%; */
}

.second .text {
  position: absolute;
  padding: 0;
  left: 3.33%;
  top: 23.8%;
  right: 3.33%;
  /* bottom: 19.2%; */
  height: 76.2%;
  width: 93.33%;
}

.second .text .left {
  position: absolute;
  left: 0px;
  top: 0;
  width: 26.5%;
  height: 100%;
}

.second .text .right {
  position: absolute;
  right: 0px;
  top: 0;
  width: 50%;
  height: 100%;
}

.second .text .right p {
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: clamp(7px, 1.2vw, 15px);
  line-height: 1.2;
}

.second .text .left {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: clamp(11px, 1.5vw, 34px);
  line-height: 1.2;
}

.second .text .right .up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 43.75%; */
  height: auto;
}

.second .text .right .down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 43.75%; */
  height: auto;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* THIRD SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.third {
  position: relative;
  background-color: #202120;
  width: 100%;
  height: 508px;
}

.third .text {
  position: absolute;
  padding: 0;
  top: 35.433%;
  left: 34.8%;
  width: 30.416%;
  height: 29.133%;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: clamp(16px, 2vw, 34px);
  line-height: 1.2;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* FOURTH SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.video-gallery {
  display: flex;
  overflow-x: auto;
  background-color: #202120;
  gap: 60px;
  padding: 60px;
  padding-top: 0;
  height: auto;
  scroll-snap-type: x mandatory; /* Прокрутка с зацеплением */
}

/* Элементы видео */
.video-item {
  position: relative;
  width: 396px;
  height: 260px;
  overflow: hidden;
  background-color: #202120;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
  flex-shrink: 0; /* Запрещает сжатие элементов */
  /* bottom: 50px; */
}

.video-item .text {
  padding: 0;
  width: calc(100% - 5px);
  height: 30px;
  left: 5px;
  top: calc(100% - 30px);
}

.video-item .text .customer {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 15px;
  /* top: calc(100% - 30px); */
  bottom: 0;
  text-align: left;
  font-weight: 400;
  font-size: clamp(10px, 2vw, 12px);
  line-height: 1.2;
}

.video-item .text .year {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 15px;
  /* top: calc(100% - 30px); */
  bottom: 0;
  text-align: right;
  font-weight: 400;
  font-size: clamp(10px, 2vw, 12px);
  line-height: 1.2;
}

.video1 {
  height: 500px;
}

.video2 {
  height: 400px;
}

.video3 {
  height: 500px;
}

.video4 {
  height: 300px;
}

.video5 {
  height: 200px;
}

/* Видео */
.video {
  width: 100%;
  height: calc(100% - 30px);
  background-color: #202120;
  object-fit: cover;
}

/* Иконка для открытия видео */
.video-overlay {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 0;
  right: 0;
  padding-bottom: calc(30px + 35px);
  padding-right: 35px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  /* opacity: 0;
  transition: opacity 0.3s ease; */
  opacity: 1;
}

.video-play {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 0;
  left: 0;
  padding-bottom: calc(30px + 28px);
  padding-left: 35px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  /* opacity: 0;
  transition: opacity 0.3s ease; */
  opacity: 1;
}

/* Показать иконку при наведении */
/* .video-item:hover .video-overlay {
  opacity: 1;
} */

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1024px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  object-fit: contain;
}

.modal-content video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  color: #000;
  cursor: pointer;
} */

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 75px;
  height: 75px;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 18px 16px;
  z-index: 1001;
}

.close:hover {
  color: #ffffff;
  background: #202120;
}

.close:active {
  color: #ffffff;
  background: #0f0f0f;
}

/* Поддержка для мобильных устройств */
@media (max-width: 768px) {
  .video-gallery {
    /* flex-direction: column; */
    padding: 20px;
    gap: 20px;
  }

  .video1 {
    height: 250px;
  }

  .video2 {
    height: 200px;
  }

  .video3 {
    height: 250px;
  }

  .video4 {
    height: 150px;
  }

  .video5 {
    height: 100px;
  }

  .video-item {
    /* width: 100%; */
    width: 198px;
    object-fit: contain;
  }

  .close {
    width: 40px;
    height: 40px;
    font-size: 24px;
    padding: 8px 8px;
  }

  .video {
    height: calc(100% - 20px);
  }

  .video-overlay {
    padding-bottom: calc(20px + 17.5px);
    padding-right: 15px;
    font-size: 20px;
  }

  .video-play {
    padding-bottom: calc(20px + 12px);
    padding-left: 15px;
    font-size: 12px;
  }

  .video-item .text {
    height: 20px;
    left: 5px;
    top: calc(100% - 20px);
  }

  .video-item .text .customer {
    font-size: clamp(6px, 2vw, 8px);
    line-height: 1.2;
  }

  .video-item .text .year {
    font-size: clamp(6px, 2vw, 8px);
    line-height: 1.2;
  }
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* FIFTH SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

/* Стили для секции */
/* Стили для секции */
.fifth {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 598px;
  background-color: #202120;
}

.fifth .list {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  width: 93%;
  height: 238px;
  top: 180px;
  left: 3.33%;
}

.fifth .list li {
  position: relative;
  width: 100%; /* Полная ширина */
  height: 24px;
  display: flex; /* Используем flex для выравнивания */
  align-items: center;
  justify-content: center; /* Выравниваем текст по центру */
}

.fifth .list li .slesh {
  position: absolute;
  left: 0;
  text-align: left;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
}

.fifth .list li .text {
  padding: 0;
  left: 25.3%;
  font-size: clamp(9px, 1vw, 18px);
  color: #fff;
  text-align: left;
  width: 76.66%;
}

/* Линии между элементами */
.fifth li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .fifth {
    height: 418px;
  }

  .fifth .list {
    top: 90px;
  }
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* SIXTH SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.sixth {
  border-top: 0.5px solid rgba(255, 255, 255, 0.25);
  background-color: #202120;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.sixth spline-viewer {
  width: 255px;
  height: 1000px;
  margin-top: -270px;
}

button {
  background-color: #202120;
  border: 0;
  height: 498px;
  width: 255px;
}

button a {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sign {
  display: none;
  position: absolute;
  align-self: center;
  top: 385px;
  font-size: 24px;
  z-index: 2;
}

.sign img {
  position: absolute;
  margin-top: -30px;
  right: 46.5%;
  width: 40px;
  height: 40px;
}

button:hover .sign {
  display: block;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* FOURTH SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.seventh {
  position: relative;
  background-color: #202120;
  width: 100%;
  height: 0;
  padding-top: 118.3%;
  top: -1px;
  bottom: 0;
  margin: 0;
  overflow: hidden;
}

.seventh picture img {
  right: 0;
  left: 0;
  width: 100%;
  position: absolute;
  margin: 0;
  bottom: 0;
}

.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 75%;
  height: 64px;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
}

.image-slider .points {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  max-width: 268px;
  margin: 0 20px;
  padding: 28px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  border-radius: 32px;
  z-index: 5;
}

.image-slider .points .dot {
  position: static;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.image-slider img {
  width: 100%;
  height: auto;
  display: block;
}

.arrow {
  position: relative;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 40px;
  height: 30px;
}

.arrow::after {
  content: "";
  position: absolute;
  top: 6px;
  width: 14px;
  height: 14px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;

  transform: rotate(45deg);
}

.arrow:hover::after {
  border-top: 2px solid #202120;
  border-right: 2px solid #202120;
}

#prevBtn {
  margin-right: -20px;
  right: -20px;
  transform: rotate(180deg);
}

#nextBtn {
  margin-left: -20px;
  left: -20px;
}

.image-slider .points .dot.active {
  background-color: #ffffff;
}

.images {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 25%;
  top: 0;
  padding-top: 166%;
}

.blik {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 25%;
  top: 0;
  padding-top: 166%;
  z-index: 2;
}

.images img {
  position: absolute;
  object-fit: contain;
  left: 0;
  top: 0;
  width: 49.8%;
  height: 49.8%;
}

.blik img {
  position: absolute;
  left: 0;
  top: 0;
  width: 49.8%;
  height: 49.8%;
}

footer {
  position: relative;
  background: #060606;
  width: 100%;
  height: 257px;
  top: -1px;
  bottom: -1px;
}

.line {
  position: absolute;
  left: 3.5%;
  right: 3.5%;
  bottom: 255px;
  height: 1px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
}

.icon {
  position: absolute;
  height: 78px;
  bottom: 127px;
  left: 66px;
}

footer p {
  position: absolute;
  bottom: 32px;
  left: 3.4%;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
}

.information {
  position: absolute;
  left: 26.8%;
  bottom: 127px;
  width: 570px;
}

.menu {
  position: absolute;
  left: 74.2%;
  bottom: 127px;
  width: 110px;
}

.media {
  position: absolute;
  left: 86.5%;
  bottom: 150px;
  width: 110px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  font-size: 18px;
  color: #fff;
  list-style: none;
  margin-bottom: 10px;
  line-height: 11.25px;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* ADAPTATION SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

@media (max-width: 1551px) {
  /* .text {
        font-size: 48px;
        line-height: 40.3px;
    } */
  .second {
    height: 275px;
  }

  .third {
    height: 450px;
  }
}

@media (max-width: 1124px) {
  /* .text {
        font-size: 32px;
        line-height: 40.3px;
    } */
  .second {
    height: 250px;
  }

  .third {
    height: 350px;
  }

  .sixth {
    height: 411px;
  }

  .sixth spline-viewer {
    width: 255px;
    height: 1000px;
    margin-top: -270px;
  }

  button {
    background-color: #202120;
    border: 0;
    height: 411px;
    width: 255px;
  }

  .sign {
    top: 370px;
  }

  .sign img {
    margin-top: -20px;
    scale: 50%;
  }

  footer {
    height: 475px;
  }

  footer::after {
    content: "";
    position: absolute;
    height: 0.5px;
    background: rgba(255, 255, 255, 0.25);
    top: 0;
    left: 3.1%;
    right: 3.1%;
  }

  .line {
    bottom: 277px;
  }

  .icon {
    height: 78px;
    bottom: 355px;
    left: 3.1%;
  }

  .information {
    left: 3.1%;
    bottom: 131px;
    width: 300px;
  }

  .menu {
    position: absolute;
    width: 100%;
    padding-right: 0;
    left: -7%;
    top: 42px;
    text-align: right;
    margin-right: 0;
  }

  .media {
    width: 70px;
    right: 3.1%;
    bottom: 131px;
    text-align: right;
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  /* main {
        padding-bottom: 18%;
    } */

  /* .text {
        font-weight: 400;
        font-size: 22px;
        line-height: 25.3px;
    } */

  .second {
    height: 200px;
  }

  .third {
    height: 250px;
  }

  .third .text {
    top: 20%;
    left: 25.8%;
    width: 48.416%;
    height: 29.133%;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: clamp(16px, 2vw, 34px);
    line-height: 1.2;
  }
}

@media (max-width: 400px) {
  .second {
    height: 100px;
  }

  /* .second .text .right {
    width: 100%;
  } */
}
