main p,
.sixth p {
  font-family: "Porsche";
  font-display: swap;
  src: local(Porsche), url(../font/Porsche\ Regular_0.ttf),
    url(../font/Porsche-Regular_0.woff);
}

* {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #fff;
  font-style: normal;
}

body {
  background-color: #202120;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* PHOTO SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.mobile {
  display: none;
}

main {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main img {
  position: absolute;
  width: 100%;
  height: auto;
  filter: blur(10px);
  margin-top: 13.5vw;
  margin-left: 3.3%;
  z-index: -1;
}

main .text {
  margin-top: 26.5vw;
  margin-left: 3.3%;
}

.text h1 {
  color: #fff;
  font-weight: 400;
  font-size: clamp(14px, 4vw, 72px);
  line-height: 0.9;
  text-align: left;
  margin-bottom: 3.125vw;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* FIRST SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.first {
  position: relative;
  background-color: #202120;
  color: #ffffff;
  width: 100%;
  height: 9.5vw;
}

.first .vertical {
  position: absolute;
  width: 13.5%;
  top: 50%;
  left: 4%;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  transform: rotate(135deg);
}

.first .horizontal {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.first .dot {
  position: absolute;
  width: 10px;
  height: 10px;
  left: calc(10.75% - 5px);
  top: calc(50% - 5px);

  background: #202120;
  border-radius: 50%;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* SECOND SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.second {
  position: relative;
  top: 0;
  width: 100%;
}

h3 {
  display: block;
  text-align: left;
  font-size: clamp(15px, 2vw, 30px);
  line-height: 1.1;
}

.second .text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3.125vw;
  margin-left: 3.25%;
  margin-right: 3.3%;
  height: auto;
  margin-bottom: 12.8vw;
}

div {
  font-size: clamp(7px, 1.2vw, 15px);
  line-height: 1.1;
  text-align: justify;
}

.text h3 {
  width: 24.8%;
}

.text .describe {
  width: 46.15%;
  margin: 0;
}

.describe .top {
  margin-bottom: 1.25vw;
  font-family: "Arian", sans-serif;
}

.describe .bottom {
  font-family: "Arian", sans-serif;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* SECOND MOBILE*/
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

@media (max-width: 800px) {
  .second .text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
  }

  .second .text h3 {
    width: 65%;
  }

  .text .describe {
    width: 65%;
  }

  h1 {
    font-size: 50px;
    height: auto;
  }

  h3 {
    font-size: 25px;
  }

  .describe div {
    margin-top: 10vw;
  }

  div {
    font-size: 12px;
  }

  .describe .bottom {
    margin-bottom: 12.5vw;
  }
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* THIRD SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.third {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 100%;
  height: auto;
}

.third .text {
  margin-bottom: 9.375vw;
  width: 30.416%;
  height: auto;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  line-height: 1.1;
  text-align: justify;
}

.third h3 {
  display: block;
}

/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* DESCRIBE_SECTION MOBILE*/
/*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

@media (max-width: 800px) {
  .third .text {
    width: 65%;
  }
}

@media (max-width: 500px) {
  .third .text {
    width: 80%;
  }
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/
/* FIFTH SECTION */
/*––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

.fifth {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  background-color: #202120;
}

.fifth .list {
  padding: 0;
  width: 93%;
  margin-top: 9.375vw;
  margin-left: 3.33%;
  height: auto;
}

.fifth .list li {
  position: relative;
  width: 100%; /* Полная ширина */
  height: auto;
  display: flex; /* Используем flex для выравнивания */
  align-items: center;
  margin-top: 1.25vw;
  margin-bottom: 1.25vw;
}

.fifth .list li .slesh {
  margin-left: 0;
  text-align: left;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
}

.fifth .list li .text {
  padding: 0;
  margin-left: 25.3%;
  font-size: clamp(9px, 1vw, 18px);
  color: #fff;
  text-align: left;
  width: 76.66%;
  height: auto;
  text-transform: uppercase;
}

.fifth p {
  display: block;
  height: auto;
}

.fifth .line {
  height: 1px;
  width: 93.4%;
  background-color: rgba(255, 255, 255, 0.25);
}

@media (max-width: 800px) {
  .fifth .list {
    width: 97%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .fifth .list li .text {
    margin-left: 5%;
    font-size: 15px;
    line-height: 1.4;
  }
}
