.video-gallery {
  display: flex;
  overflow-x: scroll;
  background-color: #202120;
  gap: 60px;
  padding: 60px;
  padding-top: 0;
  height: auto;

  -webkit-overflow-scrolling: touch; /* Для плавного прокручивания на мобильных устройствах */
  scroll-snap-type: x mandatory;
}

.video-gallery::-webkit-scrollbar {
  display: none;
}

/* Элементы видео */
.video-item {
  position: relative;
  width: 396px;
  height: 260px;
  overflow: hidden;
  background-color: #202120;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); */
  flex-shrink: 0; /* Запрещает сжатие элементов */
  /* bottom: 50px; */
}

.video-item .text {
  padding: 0;
  width: calc(100% - 5px);
  height: 30px;
  left: 5px;
  top: calc(100% - 30px);
}

.video-item .text .customer {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 15px;
  /* top: calc(100% - 30px); */
  bottom: 0;
  text-align: left;
  font-weight: 400;
  font-size: clamp(10px, 2vw, 12px);
  line-height: 1.2;
}

.video-item .text .year {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 15px;
  /* top: calc(100% - 30px); */
  bottom: 0;
  text-align: right;
  font-weight: 400;
  font-size: clamp(10px, 2vw, 12px);
  line-height: 1.2;
}

.video1 {
  height: 500px;
}

.video2 {
  height: 400px;
}

.video3 {
  height: 500px;
}

.video4 {
  height: 300px;
}

.video5 {
  height: 200px;
}

/* Видео */
.video {
  width: 100%;
  height: calc(100% - 30px);
  background-color: #202120;
  filter: grayscale(100%);
  object-fit: cover;
}

/* Иконка для открытия видео */
.video-overlay {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 0;
  right: 0;
  padding-bottom: calc(30px + 35px);
  padding-right: 35px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  /* opacity: 0;
  transition: opacity 0.3s ease; */
  opacity: 1;
}

.video-play {
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 0;
  left: 0;
  padding-bottom: calc(30px + 28px);
  padding-left: 35px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  /* opacity: 0;
  transition: opacity 0.3s ease; */
  opacity: 1;
}

/* Показать иконку при наведении */
/* .video-item:hover .video-overlay {
  opacity: 1;
} */

/* Модальное окно */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1024px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  object-fit: contain;
}

.modal-content video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  color: #000;
  cursor: pointer;
} */

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 75px;
  height: 75px;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  color: #000000;
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 18px 16px;
  z-index: 1001;
}

.close:hover {
  color: #ffffff;
  background: #202120;
}

.close:active {
  color: #ffffff;
  background: #0f0f0f;
}

/* Поддержка для мобильных устройств */
@media (max-width: 768px) {
  .video-gallery {
    /* flex-direction: column; */
    padding: 20px;
    gap: 20px;
  }

  .video1 {
    height: 250px;
  }

  .video2 {
    height: 200px;
  }

  .video3 {
    height: 250px;
  }

  .video4 {
    height: 150px;
  }

  .video5 {
    height: 100px;
  }

  .video-item {
    /* width: 100%; */
    width: 198px;
    object-fit: contain;
  }

  .close {
    width: 40px;
    height: 40px;
    font-size: 24px;
    padding: 8px 8px;
  }

  .video {
    height: calc(100% - 20px);
  }

  .video-overlay {
    padding-bottom: calc(20px + 17.5px);
    padding-right: 15px;
    font-size: 20px;
  }

  .video-play {
    padding-bottom: calc(20px + 12px);
    padding-left: 15px;
    font-size: 12px;
  }

  .video-item .text {
    height: 20px;
    left: 5px;
    top: calc(100% - 20px);
  }

  .video-item .text .customer {
    font-size: clamp(6px, 2vw, 8px);
    line-height: 1.2;
  }

  .video-item .text .year {
    font-size: clamp(6px, 2vw, 8px);
    line-height: 1.2;
  }
}
