<div class="photo-gallery">
  <div class="photo-item photo1" draggable="true">
    <img class="photo" src="../images/pr_article1.jpg" alt="Фото 1" />
    <div class="photo-overlay" onclick="openPhoto(0)">&#x26F6;</div>
    <!-- <div class="photo-view" onclick="openPhoto(0)">▶</div> -->
    <div class="text">
      <p class="customer">ЗАКАЗЧИК</p>
      <p class="year">2024</p>
    </div>
  </div>
  <div class="photo-item photo2" draggable="true">
    <img class="photo" src="../images/pr_article2.jpg" alt="Фото 2" />
    <div class="photo-overlay" onclick="openPhoto(1)">&#x26F6;</div>
    <!-- <div class="photo-view" onclick="openPhoto(1)">▶</div> -->
    <div class="text">
      <p class="customer">ЗАКАЗЧИК</p>
      <p class="year">2024</p>
    </div>
  </div>
  <div class="photo-item photo3" draggable="true">
    <img class="photo" src="../images/pr_article3.jpg" alt="Фото 3" />
    <div class="photo-overlay" onclick="openPhoto(2)">&#x26F6;</div>
    <!-- <div class="photo-view" onclick="openPhoto(2)">▶</div> -->
    <div class="text">
      <p class="customer">ЗАКАЗЧИК</p>
      <p class="year">2024</p>
    </div>
  </div>
  <!-- Добавьте больше фотографий, если нужно -->
  <div class="photo-item photo4" draggable="true">
    <img class="photo" src="../images/prod_article4.png" alt="Фото 4" />
    <div class="photo-overlay" onclick="openPhoto(3)">&#x26F6;</div>
    <!-- <div class="photo-view" onclick="openPhoto(3)">▶</div> -->
    <div class="text">
      <p class="customer">ЗАКАЗЧИК</p>
      <p class="year">2024</p>
    </div>
  </div>
  <div class="photo-item photo5" draggable="true">
    <img class="photo" src="../images/prod_article5.png" alt="Фото 5" />
    <div class="photo-overlay" onclick="openPhoto(4)">&#x26F6;</div>
    <!-- <div class="photo-view" onclick="openPhoto(4)">▶</div> -->
    <div class="text">
      <p class="customer">ЗАКАЗЧИК</p>
      <p class="year">2024</p>
    </div>
  </div>
</div>

<!-- Модальное окно для просмотра фотографии -->
<div id="photoModal" class="modal">
  <div id="modalContent" class="modal-content">
    <button id="closeModalBtn" class="close">&times;</button>
    <img id="modalPhoto" alt="Фото" />
  </div>
</div>

<script src="../script.js"></script>
